[2020-09-14 21:33] chrisallenlane commented on #591
Hi, @martinsaravia

I'm not sure if the `snap` version of `cheat` currently supports changing the editor, or if the configuration process is perhaps different. The `snap` maintainer is @bernermic, who may be able to help you.

You may also try downloading the `cheat` executable directly from the [Releases][] page, though unfortunately, an executable downloaded directly will not receive automatic u

[2020-09-14 22:30] martinsaravia commented on #591
Hi Chris ! Thanks very much for your reply. I have downloaded the executable and it works fine with the same configuration file.

I'll wait for Michael's reply in order to see if we can get the snap version to work.

Thanks !

Martin

[2020-09-14 22:44] chrisallenlane commented on #591
That's great to hear, @martinsaravia. I'll close this ticket in that case, but feel free to continue the discussion here as necessary.

[2020-09-14 22:44] #591 closed

[2020-09-25 05:58] SinRoot commented on #585
Both ideas are good. But, I think, first variant is easier to implement.
@chrisallenlane, are you need to help with realization? I don't write on Go, but I think it not a very hard in this case. Or we can request help in community.

[2020-09-25 06:06] SinRoot commented on #585
An update to this enhancement:
Recursive going deep. I mean:
[code]

In this case we can create a tree of cheatsheets. Example:
[code]

[2020-09-25 06:36] SinRoot commented on #584
workaround - change config. I was create folder `cheatsheets.personal` and write to config
[code]

But still need to fix for new users

[2020-09-26 15:55] bernermic commented on #591
Hi @martinsaravia ,

Unfortunately I do not see an easy way for the snap usage in your usecase (as I have to package atom then with the cheat snap).

Cheat snap ships only with vim & nano for the moment. So if the binary works for you you should stick to this one for now.

[2020-10-05 15:48] ipstone opened #593 "error in migrating the old python version cheat to new go version - failed to load sheet: conf.yml"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**
Hello, I am trying to migrate my old python cheat setup to use the current golang version, but after setting in the conf.yml file to point the personal cheatsheet to the old .cheat location, I am having the following error:
[code]

**cheat version info**
Please paste the output of `cheat

[2020-10-05 15:57] ipstone commented on #593
Trying to debug this: I think the problem is mostly likely from the conf.yml file, initially I thought it might be the delimiter issue, but upon inspecting the content: (my conf.yml was first generated with the `cheat --init ` command):
    The first line in the conf.yml is "---" :
        - This line is the cause of the error - after removing this line, everything works fine.

So I would suggest

[2020-10-05 18:15] ipstone commented on #593
Another strange issue is the golang version of cheat has strange behavior, when called with the full path, such as '~/bin/cheat` vs. `cheat`:
    on both mac, and linux, when I call it with the full path, everything works fine, but when with just `cheat`, it will give the error of ```failed to load config: failed to resolve symlink: Users/ipstone/.ipdot/.cheat: lstat Users: no such file or directo

[2020-10-05 21:27] ipstone opened #594 "Need documentation for using CHEAT_USE_FZF=true"
**Is your feature request related to a problem? Please describe.**
I am trying using fzf with cheat for autocompletion. Currently bash autocompletion is working (after setting cheat.bash script in the correct path). But I have no clue how to trigger the fzf for completion. ( I looked at the code, but somehow fzf isn't triggered)

**Describe the solution you'd like**
it would be nice to have clear

[2020-10-06 11:07] chrisallenlane commented on #585
I don't _think_ there's a huge amount of work here. It needs to be considered alongside #548, though, so I'll probably implement both of those features simultaneously.

I should be able to handle this solo, but I appreciate the offer to marshal some help. I'm just a bit time-crunched at present. I should be able to get to this sometime around mid-October. I'll update this thread as I make progress

[2020-10-18 14:52] hbrands commented on #571
Hi,
I'm not a GO expert, but could it be a line delimiter issue on Windows (\n vs. \r\n)?
Please have a look at the Prompt function in the installer package:
https://github.com/cheat/cheat/blob/master/internal/installer/prompt.go
reader.ReadString('\n') is used there, but then later
strings.TrimRight(ans, "\n") strips only the \n , but not the '\r' on Windows.
Therefore, false is always returned a

[2020-10-19 01:00] chrisallenlane commented on #571
@hbrands, while this is a possibility, I don't _think_ this is the issue, simply because (to my knowledge) others are using `cheat` successfully on Windows, and this would, presumably, prevent them from doing so.

That said, to my embarrassment, I am still personally unable to test `cheat` on Windows. I've been relying entirely on the community to do this so far.

I haven't had much time to work o

[2020-10-19 19:30] hbrands commented on #571
@chrisallenlane Thanks for your answer. Here is a small example that demontrates the problem on my maschine (Windows 10):
[code]
The first try always outputs "Bad!" even if I type in "y".
The second try outputs "Good! - Yes!" correctly when I type in "y".

Is there a simple way to build cheat on a windows machine? Then I could try that out.
But I'm pretty sure now that this is the issue.

[2020-10-23 02:39] srafi1 commented on #585
This sounds like an interesting idea. @chrisallenlane if you're still time-crunched can I step in to work on this issue?

[2020-10-26 12:26] chrisallenlane commented on #585
@srafi1, thanks for the offer, but I should be able to get to this this week. It's _probably_ best that I take this on myself - we have like 3 open tickets that are all going to impact each other. :slightly_smiling_face:

[2020-10-29 10:57] zeitchef commented on #558
Hi @chrisallenlane,

I took your advice and submitted a pull request to the chroma project, which was just merged. While this solves my immediate issue, I do love the idea of a more robust way of customizing colors for cheat.

Thanks for your work!

[2020-11-03 00:25] chrisallenlane commented on #558
Hi, @zeitchef

That's fantastic. Thanks for making both projects better! :confetti_ball:

I see that your work was merged on Oct 29, but the current [latest release of `chroma`][release] was published on Sept 22. That being the case, your work won't be available in `cheat` the next version of `chroma` is released.

The `chroma` maintainer is excellent, however, so this likely won't be long. Likewi

[2020-11-03 23:46] chrisallenlane commented on #558
Tagging as "blocked" while we await the upstream release.

[2020-11-03 23:54] chrisallenlane commented on #579
Closing as stale.

[2020-11-03 23:54] #579 closed

[2020-11-06 08:26] Zikoel commented on #584
Hi, same error here! I have created the missing folders manually, but now the remain empty! I suppose that for the community cheats should be an automatic fetching! Nothing happen after the init step!

[2020-11-06 10:42] Zikoel opened #597 "Configuring step on readme leads you in error"
**A description of the problem**
If you follow the readme section `Configuring` you can go in a not well configured configuration. If you execute `mkdir -p ~/.config/cheat && cheat --init > ~/.config/cheat/conf.yml` you have a valid configuration but `cheat` doesn't create the `personal` or `community` folder but that folder provided from the default configuration are needed, so the app crash on t

[2020-11-07 23:58] chrisallenlane commented on #597
Hi, @Zikoel

Thanks for bringing this to my attention.

I updated the `README` to be clearer, and removed the information regarding `cheat --init` entirely, given that users should no longer need it. I've also added instructions on how to install `cheat` using `go get`. Here's the diff:

https://github.com/chrisallenlane/cheat/commit/0718b606e1ebf1c32c2a203b71b3d17353200891

Please let me know if

[2020-11-07 23:58] #597 closed

[2020-11-10 18:22] kapad opened #600 "README.md is listed as a cheat"
**A description of the problem**
In my personal cheat repository, some files that aren't cheats are also being listed as cheats. One of this is the README.md.

**cheat version info**
4.1.1

**cheat configuration info**
1. Output of `cheat -d`
community: /Users/kapad/dotfiles/shell/plugins/cheatsheets
personal:  /Users/kapad/dotfiles/shell/plugins/cheats

2. Output of `ls -1 -A /Users/kapad/dotfile

[2020-11-10 18:44] kapad opened #601 "Allow setting CHEAT_USE_FZF in the config.yaml"
**Is your feature request related to a problem? Please describe.**
I don't like having to set an ENV var for using fzf even though I'm setting another env var pointing to a config file.

**Describe the solution you'd like**
I want to be able to provide the option to use fzf in the config.yaml.
Additionally, I'd also like to be able to pass in the options to call fzf with in the config.yaml.

[2020-11-10 18:49] kapad opened #602 ".cheat directories should be searched for recursively"
**Is your feature request related to a problem? Please describe.**
Cheat only searches the current directory for a `.cheat` directory.

**Describe the solution you'd like**
cheat should search the directory hierarchy for `.cheat` directories. This scope could be limited to say, search the directory hierarchy until $HOME and no further.

**Describe alternatives you've considered**
I've found cheat

[2020-11-11 22:35] chrisallenlane commented on #602
Hi, @kapad

Yeah, I've been annoyed by this behavior myself. I'm in favor of changing it.

In the near-term I'll be refactoring how `cheat` loads cheatsheets while addressing some tangentially-related tickets. I'll tackle this at the same time.

[2020-11-11 22:46] chrisallenlane commented on #601
Hi, @kapad

I agree that it's not ideal that `fzf` integration is configured via an envvar. That said, I think there could be significant complexity involved in moving this configuration into the config file.

This is the heart of the issue: while the `cheat` _executable_ is configured via the config file, `fzf` integration is external to the binary. This happens in one of a few shell scripts.

As

[2020-11-11 22:57] chrisallenlane commented on #600
Hi, @kapad

As best as I can tell the `cheat` "installer" doesn't create any cheatsheets by default in your `personal` cheatpath. (It creates the directory, but does not create any files therein.)

Question: do you know how those files got there? Did the installer somehow create those automatically?

If not, they can simply be removed. `cheat` itself does not require (or expect) these files to be

[2020-11-17 13:46] kapad opened #603 "Add development section to the README/wiki"
**Is your feature request related to a problem? Please describe.**
Add a section to the README/wiki for how to set things up for local development and testing. Apologies in advance if it's already there. I've missed it.

**Additional context**
I'm new to golang and some guide with the simplest of baby steps would be helpful.

[2020-11-17 13:53] kapad commented on #601
I'd like to setup a working build locally first.

https://github.com/cheat/cheat/issues/603

[2020-11-17 13:58] kapad commented on #600
I added the `README.md` file myself. And also a `LICENSE` file. I think for cheat to load every single file in my repo isn't ideal.

[The repo](https://github.com/kapad/cheats) that I created for my own cheats got an autocreated `README.md` and a `LICENSE` file. The issue is that these files are also loaded as cheats.

I haven't verified with the code, but after some tests I think the only files a

[2020-11-28 16:27] #548 closed

[2020-11-28 16:31] chrisallenlane commented on #548
Well, this took a little longer than "two weeks", but the `--all` flag is available as of release `4.2.0`:
https://github.com/cheat/cheat/releases/tag/4.2.0

[2020-11-28 16:35] chrisallenlane commented on #558
@zeitchef, your changes have been released with `cheat@4.2.0`:
https://github.com/cheat/cheat/releases/tag/4.2.0

Thanks again!

[2020-11-28 16:35] #558 closed

[2020-12-05 05:52] linnabraham commented on #548
This was a feature that I wanted for sometime now. Thanks for implementing it.
However, I was thinking of aliasing cheat to cheat --all. But it looks like when using the -all flag, the priority gets reversed. The community cheatsheets shows up first which seems counter-intuitive to me. I would like my personal cheatsheets to take preference. Am i missing something here?

[2020-12-06 12:26] roachsinai opened #607 "[help|feature] add an option to set not use ANSI escape sequences for search print?"
## Problem

I define a shell function:

[code]

which use fzf to fuzzy find cheatsheet's name which include the search keyword.

But after the upgrade to cheat 4.2.0. , the fzf entry are surrounded by ANSI escape chars like: `  [4mwrite.title[0m [2m(personal)[0m`.

I read the release log found you made a update for search format.

**Describe the solution you'd like**

Could you please add an optio

[2020-12-06 14:06] chrisallenlane commented on #607
Hi, @roachsinai

Would you please upload a a screenshot of the malformed text? It will help me to understand where the problem is.

Thanks.

[2020-12-06 14:32] roachsinai commented on #607
![image](https://user-images.githubusercontent.com/9500049/101282940-cc1dbd80-3812-11eb-8913-03596364fff6.png)

😃

[2021-01-08 06:43] RidenShark opened #608 "Can the installation be detailed for newbies?"
Hi. I understand this is intended for power users. But as someone new to Linux, the one-sentence installation in the documentation is hard for me to follow.

I have downloaded the release `cheat-linux-amd64.gz` to my `home/riden/` directory. I unzipped it into a dir called `cheat` in my directory. Added `export PATH="/home/riden/cheat:$PATH"` in my `.bashrc` file. Restarted the terminal. But after

[2021-01-25 18:39] aborruso commented on #584
The same for me :(

[2021-01-25 20:38] chrisallenlane commented on #584
I'm on PTO this week, so I finally have some time to devote to this project again. I'll try to track down the problem.

[2021-01-29 18:07] 5c0tt-b0t commented on #476
Hi! thank you for cheat its awesome!
Unfortunately, completions do not work in Termux, I am sometimes away from my PC and would like to look up answers, it says "unsupported os: android". As your binary will run on Android, with or without Termux (same for 'fzf') perhaps "android" should be added as a supported OS? 90% of Android phones nowadays are aarch64 (ARM), the other 10% are x86 (Intel). Th

[2021-01-29 18:42] nerd190 opened #609 "Android/Termux support."
Cheat works amazingly on my PC but doesnt work in Termux (only --help works) "unable to load config, unsupported os" please allow Android to be supported. Thank you!

[2021-01-30 14:49] chrisallenlane commented on #609
Hi, @5c0tt-b0t

Can you elaborate a bit on your use-case? I wouldn't have imagined that `cheat` would be useful on an Android device. Are you running a shell on a rooted phone, or what? How did you install `cheat` on that phone in the first place?

I don't mean to pry - I just want to make sure that I understand the problem that we're trying to solve :slightly_smiling_face:

Am I correct in assumi

[2021-01-30 14:50] chrisallenlane commented on #609
Oh, wait - I'd forgotten: I'm already building for ARM. IIRC, somebody asked for RasPi support a while ago:

https://github.com/cheat/cheat/blob/883a17092f08cbcd4b24b8a42d22f14443369ce1/Makefile#L36

Have you tried each ARM version? Maybe you just need to find the right executable.

[2021-01-31 03:24] 5c0tt-b0t commented on #609
Of course! I am sometimes away from my PC, sometimes its for days at a time (once a month I go fishing for the weekend), other times, its just long commutes (on the train to work), I discovered Termux about 5 years ago and its always filled the void perfectly, some examples: Stream movies/music thats on my PC at home, or from cloud storage with ”rclone”. SSH into my PC to fetch a PDF/Ebook to read

[2021-01-31 14:49] chrisallenlane commented on #609
That's really interesting. Thanks for the info. Now I want to try this out too.

Given that I'm already building for ARM, I think there's a chance that I simply need to add `"android"` or something right here:

https://github.com/cheat/cheat/blob/883a17092f08cbcd4b24b8a42d22f14443369ce1/internal/config/paths.go#L31

With luck, it will otherwise "just work."

I'll screw around with this for a bit,

[2021-01-31 21:58] 5c0tt-b0t commented on #609
I agree, I believe its only this value that is needed, I can build this from source perfectly via Termux, it just wont allow any commands other than '--help' to run as its not listed as a supported OS.
Honestly, Android is more vanilla Linux than my Mac laptop is! (Android uses GNU utils, Mac uses BSD) so find, grep, cut, awk, sed all work as expected without Mac's weird flags, like "find -s" etc,

[2021-01-31 22:00] Mandymoore680 commented on #609
What do you mean????

On Sunday, January 31, 2021, 5c0tt-b0t <notifications@github.com> wrote:

[2021-01-31 22:04] Mandymoore680 opened #610 "Job"
Edited: removed irrelevant (bot) content.

[2021-01-31 23:54] #610 closed

[2021-01-31 23:54] chrisallenlane commented on #610
This ticket contained questionable material. I'm closing it and blocking the user.

[2021-02-07 19:44] chongchonghe opened #611 "Enable fuzzy search"
**Is your feature request related to a problem? Please describe.**
Want to save time on typing long names like 'emacs' and 'ffmpeg' (I know I'm lazy)

**Describe the solution you'd like**
Enable fuzzy search, at minimal unique match of strings starting from the object string. e.g. cheat em will be equivalent to cheat emacs, cheat org = cheat org-mode, cheat ffm = cheat ffmpeg, etc.

**Describe alt

[2021-02-27 10:53] MandiYang opened #612 "Permission denied"
Thanks for submitting a bug report. Please provide the following information:

**Permssion denied**
A config file was not found. Would you like to create one now? [Y/n]: Y
Would you like to download the community cheatsheets? [Y/n]: Y
warning: unable to access '/etc/gitconfig': Permission denied
Cloning into '/root/snap/cheat/common/.config/cheat/cheatsheets/community'...
warning: unable to access

[2021-02-27 17:26] bernermic commented on #612
Hello @MandiYang,
thanks for your report. Unfortunately I can not reproduce your reported bug.
It seems you are installing the snap as root user, is that correct? Can you please try to do this as non root user?
Greetings

[2021-02-27 19:20] MandiYang commented on #612
Thank's, installing via source is much easier cuz you don't must be root. I close this issue.

[2021-02-27 19:20] #612 closed

[2021-03-05 07:21] sethiojas commented on #608
This statement is wrong. Replace it with `export PATH="/home/riden/cheat":$PATH`. Note `:$PATH` is outside of quotation marks. The variables are colon delimited so the line translates to add `/home/riden/cheat` and then all the values already in PATH (denoted by `$PATH`) and update the value (`export PATH = ...`).

P.S. I'm not a power user :wink:

[2021-03-26 14:07] JouBqa opened #613 "Help with install"
I have cheat-linux-amd64 in folder ~/Downloads/Applications/Cheat and I added this to .bashrc: export PATH="$HOME/Downloads/Applications/Cheat:$PATH"

When I try to run `cheat` it's not found. Any advice on what I did wrong?

[2021-03-26 14:19] JouBqa commented on #613
doing `echo $PATH` shows that it hasn't actually been added to path?

[2021-03-26 14:26] JouBqa commented on #613
This didn't work either export PATH="${PATH:+${PATH}:}~Downloads/Applications/Cheat"

[2021-03-26 14:34] Rom1deTroyes commented on #613
If the file is named `cheat-linux-amd64` the command to launch will be :
[code]

Try to rename the file, and be sure it's executable :
[code]

[2021-03-26 14:46] JouBqa commented on #613
Thank you! :)
Moved it to `~/.local/bin/ renamed to cheat and it works
Never done this before as I'm a new user

[2021-04-06 16:42] chrisallenlane commented on #613
@Rom1deTroyes, thank you for the assist!

@JouBqa, I need to improve the documentation a bit. I'll try to make this clearer going forward. :slightly_smiling_face:

[2021-04-06 16:42] #613 closed

[2021-04-06 16:48] chrisallenlane commented on #601
I've thought about it a bit, and I don't think this is going to be possible to implement in a portable way (which won't be a nightmare to maintain), so I'm unfortunately going to close this ticket.

[2021-04-06 16:48] #601 closed

[2021-04-06 16:54] chrisallenlane commented on #494
I have yet to come up with a portable way to implement this that wouldn't entail meaningful scope-creep, so I'm going to set this idea aside for now.

[2021-04-06 16:54] #494 closed

[2021-04-06 16:58] chrisallenlane commented on #600
Oh, I see.

Yeah, this is just fundamental to how `cheat` works - every file within a directory that's specified as a `cheatpath` will be considered  a cheatsheet, by definition. You can either just delete the readme and license if you don't care about them, or simply move your cheatsheets into a subdirectory of your repository.

[2021-04-06 16:58] #600 closed

[2021-04-06 17:30] chrisallenlane commented on #609
Sorry it has taken me so long to get to this.

So, I just set up an ancient Android tablet here to test this using Termux. To my surprise, everything worked perfectly, after I installed `git` and `vim`. (You need the former to download cheatsheets via the installer, and the latter to edit them.)

I'm using the ARM5 Linux binary.

@5c0tt-b0t, will you please respond to this thread with the specifie

[2021-04-06 17:57] chrisallenlane commented on #611
@chongchonghe, I'm not going to implement this functionality natively within `cheat`, but fuzzy autocompletion already works wonderfully when when you [use cheat in conjunction with fzf][1].

I've done a poor job of documenting this, however. I have tagged this ticket as "documentation" so I remember to address this issue when I update the documentation in the near-term.

Let me know if you have a

[2021-04-09 17:36] bartier opened #614 "Where can I find syntax value options to my files?"
**Is your feature request related to a problem? Please describe.**
I'm not sure if it is documented anywhere what can be the options to put in the YAML section in the `syntax` field. I'm quite new to cheat CLI and I couldn't find possible values.

I would like to format the cheats with Markdown, is it possible?

Thanks!

[2021-04-10 19:13] qshzh commented on #611
How can we trigger fzf?

[2021-04-12 13:01] matraven opened #615 "Permission denied error from home dictionary"
As the title suggests, when I try to use cheat in my home directory I get the error message:

"failed to list cheatsheets: failed to load cheatsheets: failed to walk path: open /home/myuser/.cheat: permission denied"

when I am anywhere else (like /, /home,  /home/myuser/Downloads, /home/myuser/.cheat, /home/myuser/Documents, etc)
it is working as it is supposed to.

I checked ownership, permissio

[2021-04-19 15:01] snowman opened #616 "Zsh completion not work as oh-my-zsh plugin"
**A description of the problem**
Zsh completion as oh-my-zsh plugin shows error when start terminal.

**cheat version info**
4.2.0

**cheat configuration info**
steps to reproduce

[code]

When restart terminal, it shows error:

    _arguments:comparguments:325: can only be called from completion function

[2021-04-20 10:41] diegombeltran opened #618 "Duplicate cheatsheets while autocompleting at $HOME"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**
I have a symlink ($HOME/.cheat) to another folder containing cheatsheets ($HOME/user/git/dotfiles/.cheat). If I press tab twice to autocomplete while I'm at $HOME, lots of cheatsheets are duplicated. This does not happen in other directories.

Autocomple at $HOME:
![image](https://user-i

[2021-04-20 10:44] diegombeltran commented on #618
OK, I just saw this in the README:

[code]
So changing the symbolic link to .cheats instead of .cheat and chaning the config accordingly fixes this. My bad!

I'm closing the issue now. Thank you anyway!!

[2021-04-21 13:59] #618 closed

[2021-04-26 20:22] chrisallenlane commented on #618
Aha. Yeah, you're not the first user to get tripped up by this, unfortunately. I should probably improve the visibility of this feature, given that it can be a "gotcha" otherwise.

I'm glad you were able to work this out. Thanks for the detailed bug report!

[2021-04-26 20:40] chrisallenlane commented on #616
Hi, @snowman

Thanks for the bug report.

Unfortunately, I personally have no experience with `zsh` or `oh-my-zsh`. That being the case, I tagged this issue as `help-wanted` and pinned it for visibility. Hopefully someone within the community will be able to help you out.

[2021-04-27 19:17] chrisallenlane commented on #552
@bernermic has taken a first pass at implementing this with #617.

[2021-04-27 19:21] chrisallenlane commented on #615
Hi, @matraven

This is likely related to the "[directory-scoped cheatpaths][1]" feature, though I don't understand the precise failure mode yet.

Please execute the following and paste the output in this thread:
[code]
(Feel free to redact anything that you feel could be sensitive.)

That should help us to figure out what's going on.

Thanks.

[1]: https://github.com/cheat/cheat#directory-scoped-c

[2021-04-29 11:17] matraven commented on #615
Hi @chrisallenlane,

Here it is.

─(12:11:11)──> la -al ~/.cheat                                 ──(Thu,Apr29)─┘
total 8.0K
drwxr-xr-x  2 name name 4.0K Apr  9 11:40 .
drwxr-xr-x 49 name name 4.0K Apr 29 12:11 ..

[2021-04-29 13:08] chrisallenlane commented on #615
Thanks, @matraven. I'll drill into this.

[2021-04-29 21:31] chrisallenlane commented on #614
Hi, @bartier

Sorry for the delay getting back to you.

I did a poor job in documenting this. The only "documentation" I have is in the comments of the default config file:

https://github.com/cheat/cheat/blob/1eb44e8809226edf96c09f64b7b2d4c0d6d0f5fd/configs/conf.yml#L8-L11

Because `cheat` uses `chroma` for syntax-highlighting, the values you're looking for are those supported by `chroma`. They'r

[2021-04-29 21:31] #614 closed

[2021-05-01 14:36] mohkale commented on #594
I'm usng this atm, it works pretty well for me.

[code]

[2021-05-12 22:27] guoqiao opened #625 "allow cheat files to have extension"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently the cheat files can not have extension, this caused 2 problems:

1. although optional, I need to specify special heads in file, e.g.:
[code]
This is a bit memory burden, and make cheat files not generic.

2.  without extension, s

[2021-06-03 10:44] Honeypot95 commented on #589
I have a similar enough problem. I installed `cheat` on Ubuntu via `snap`.

`cheat -e` does not respect the `$EDITOR var, regardless of how I pass it. Either as above directly, either through my setting in `.bashrc`. It always defaults to `vim`, which _seems_ to be what is happening to @caleb15 as well.

I verified with `strace` exactly what configuration it uses, and it has no editor set there (t

[2021-06-03 14:20] bernermic commented on #589
Hey @Honeypot95 - the snap version has this config file: `$HOME/snap/cheat/common/.config/cheat/conf.yml`. Until this issue is solved please set your editor there.

Nano and vim are packaged together within the cheat snap, so these are the only two options to choose from. If you need a  different editor you should install the cheat binary directly.

[2021-06-06 20:49] PabloLec opened #627 "Release an ARM64 binary"
**Is your feature request related to a problem? Please describe.**
Currently, there is no ARM64 binary for `cheat`.
As it is a common architecture, especially with Raspberry Pi 4, it should be added to existing options.
Furthermore, [Go already support ARM64 builds natively](https://github.com/golang/go/wiki/GoArm).

**Describe the solution you'd like**
Simply add build instructions to `Makefile`.

[2021-06-07 09:53] PabloLec commented on #616
I was facing the same issue.
I don't know if the current config did work at some point, I've been familiar with zsh, oh my zsh and their plugins for about a year. Maybe a previous update broke it?

Anyway, current config could not work properly, I added #629 fixing it.

[2021-06-09 01:24] chrisallenlane commented on #616
@PabloLec, thanks very much! Your patch is included in release `4.2.2`.

[2021-06-09 01:24] #616 closed

[2021-06-09 01:27] chrisallenlane commented on #627
Your PR was merged into `4.2.2`, and your `arm64` build will be including in all forthcoming releases. Thanks very much!

[2021-06-09 01:27] #627 closed

[2021-06-23 11:36] kylebradshaw commented on #584
hit the same issue

[2021-08-26 13:52] smbambling opened #631 "Display cheats with the same name from multiple paths simultaneously"
Currently if using both community and personal cheats, when you go to make an edit it will copy that cheat file to the personal directory. This personal cheat file takes precedence over the cheat file in community and any fetched updates to the community file version are not shown using the cheat command anymore.

An example scenario is updated the awk cheat file with an example you don't wish to

[2021-09-05 14:17] sdondley opened #632 "zsh autocompletion working, but not for cheat file names"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**
I have zsh (with ohmyzh). Completions are working for cheat arguments but they are not working for the names of the cheatsheet files.

Example:
`cheat tm<tab>` does nothing even though a `tmux` cheat sheet exists in my `~/.config/cheat/cheatsheets/personal` directory
`cheat -<tab>` gener

[2021-09-05 14:37] sdondley commented on #632
OK, so looking at the completion script, there is a `$state` variable on or about line 45 that never gets set. When I change that `$state` variable and replace it with `'full'`, completions for cheat file names start working.

I'm not much of a shell scripter so I'm not quire sure how get the $state variable to reflect the correct context. Maybe the bash script will offer some clues. I'll take a l

[2021-09-05 15:07] sdondley commented on #632
OK, I just made the default value for state to be 'full'. Seems to work.

[code]

Then it get overridden by the _arguments portion of the code. If this is the correct way of fixing this, just let me know and I'll submit a patch.

[2021-09-06 01:00] sdondley commented on #611
I don't understand how this works. I have fzf installed and added the export line to my .zshrc. It doesn't seem to do anything different.

[2021-09-06 01:14] sdondley opened #633 "No fzf integration with zsh completion"
**A description of the problem**
fzf not implemented with zsh. The zsh script does not include a function for implementing fzf with zsh.

**cheat version info**
4.2.2

[2021-09-28 13:52] DeVogelRyan opened #638 "Custom colors"
**Is your feature request related to a problem? Please describe.**
It's not a problem it's just something that would be handy

**Describe the solution you'd like**
I would love to see the ability to add custom colors from a text file or something like that.

[2021-09-29 04:27] Tej-Singh-Rana opened #640 "typo"
https://github.com/cheat/cheat/blob/768d55e5d4738131cdcb097004d5de45e762db4e/cmd/cheat/cmd_list.go#L28

This should be "cheatsheets" instead of "cheatcheats".

[2021-09-30 10:05] ChrisYin commented on #584
Same for me, any possible solution?

[2021-10-09 13:40] chrisallenlane commented on #640
Thanks!

Resolved with #641.

[2021-10-09 13:40] #640 closed

[2021-10-09 14:42] #609 closed

[2021-10-13 08:34] etanot opened #645 "Use "v<SemVer>" format for tagging versions"
**Type:** Discussion

Is there any specific reason to not prefixing tags with `v`? I mean, as far as I've seen most Go projects use `v<SemVer>` format for tagging. Even using `v` prefix for tagging is encouraged by [Go community](https://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases). Why we're not adopting this?

/cc @chrisallenlane

[2021-10-13 23:27] chrisallenlane commented on #645
Hi, @vipkr

`cheat` is an old project that was originally written in Python. The tagging convention is essentially therefore just a legacy artifact. I'm aware that the project does not conform to the Go conventions, and it bothers me.

With that said, I'm reluctant to change the tagging system now, mostly out of fear that doing so would cause confusion or complexity, rather than reduce it.

To you

[2021-10-14 03:15] #645 closed, assigned to nobody

[2021-10-15 07:34] bernermic commented on #615
@ddan4 that is a valid hint, as the snap version does not support dot folders in the users home directory.
@matraven is your installation snap based?

[2021-10-15 21:47] veracioux opened #646 "GIF command preview in the README"
**Is your feature request related to a problem? Please describe.**
No, just eye candy for the README. Many READMEs of CLI programs show a gif of the command in action. That makes the README more attractive. I'd like to make a live demo that can be uploaded to [asciinema](https://asciinema.org) and included in the README so everyone can see it when they open this repo.

**Describe the solution you'

[2021-10-16 11:08] matraven commented on #615
@bernermic It is.

[2021-10-20 23:14] amine1996 commented on #632
Had the same issue, your fixed worked, thanks !

[2021-10-30 23:53] moracabanas commented on #608
I came to this cheatsheet tool because I am having a hard time on linux every day, and I am now having a hard time trying to install this cheatsheet tool.

[2021-10-30 23:56] moracabanas commented on #608
Doing that `export PATH = ..` I am in fear to override the actual $PATH which is actually quite large on my WSL linux and I am not understanding what am I doing at all.
Why I shouldn't just `chmod +x cheat-linux-amd64` and `mv cheat-linux-amd64` to /bin?

[2021-11-04 17:37] leahsiddall-wm opened #649 "Cannot install via "go get" command"
**A description of the problem**
When trying to install via the "go get" command, it does not complete and gives this warning/error:

[code]

Complete output here:

[code]

**cheat version info**
n/a

[code]

[2021-11-11 13:10] Ginner commented on #589
I'll just put in my 2 cents.

I disagree with @tculp - I think it should default to `$EDITOR` but an explicitly set `editor` in the conf file should overwrite this.

Furthermore, I think 'deprecating envvars' is not a nice way to go. Envvars is a pretty basic thing on a Linux system and should, in my opinion, be respected. In that vain, under `cheatpaths` in the config file envvars (like `XDG_DATA

[2021-11-24 02:14] wangwenqiangGitHub commented on #649
I also this erro

[2021-11-24 08:05] Rom1deTroyes commented on #649
Can you try to use `go install` instead :
[code]

[2021-12-16 14:20] bsahane commented on #584
For my setup I created a directory for `personal` using
[code]
And updated `path` for `community` in `conf.yml` as below
[code]
So `community` and `personal` both working properly
[code]

[2021-12-22 19:45] aminnaggar commented on #649
this is what I get when I run your command @Rom1deTroyes

[code]

[2021-12-23 00:04] sullyj3 commented on #589
I don't have a dog in the fight of whether the config should override EDITOR or vice versa.

I just installed cheat today. The thing that tripped me up was just that the generated config file sets the editor to vim. I had EDITOR set to nvim and no vim installed, so this was very confusing. Imo, the editor setting in the default conf.yml should be commented out. I think that would neatly sidestep t

[2022-01-03 22:16] yurivict opened #652 "Module should be github.com/cheat/cheat/v4 for Go's indexing servers to pick it up"

[2022-01-24 09:45] shmuhammad2004 commented on #649
This works for me

[2022-01-24 10:34] ondrasek opened #655 "Failed to write to pager: exec: "less": executable file not found in %PATH%"
Whenever I invoke `cheat`, I get the following error: _failed to write to pager: exec: "less": executable file not found in %PATH%_.

For example:
[code]

My environment:
[code]

Installed via scoop.

[2022-01-24 10:41] ondrasek commented on #655
The default config from `cheat --init` does contain the pager key. I suggest removing the default pager configuration, using the PAGER env variable, or adjusting the error message to indicate that pager is configured explicitly in the conf.yml file.

[2022-01-29 10:45] simonjujuh commented on #632
Same problem here. The fix is working but a real fix would be awesome. Thanks for your work :)

[2022-02-07 21:07] jeffwidman commented on #652
I have a `main.go` file whose sole purpose is to have a dummy import like:

	// This import isn't buildable because it's not an importable package, but
	// it is `go mod tidy`-able, which is all we need.
	_ "github.com/cheat/cheat/cmd/cheat"

so that I can run `go mod tidy` against that file in order to pin the version of `cheat` in such a way that `Dependabot` can watch for new versions and open

[2022-02-16 10:59] jpmvferreira commented on #552
If I may give my two cents and suggest an alternative way of doing things, if a flag were to be implemented where one could refer to a given cheatpath by its name (e.g.: `cheat -n community` or `cheat --name community`), then allowing the usage of `git` right after this command would be equivalent of using git inside the corresponding directory for the cheatpath 'community'.

This would allow the

[2022-03-15 23:29] EmilySeville7cfg opened #656 "Incomplete conf.yml description"
**A description of the problem**

There is no info about:

- default values of props
- required props

[code]

I assume that:

- required props are: `name`, `path`
- `readonly` default is false

Am I right?

[2022-03-16 23:27] jazzabeanie opened #657 "Can't download community cheatsheet"
[code]
cheat 4.2.3

I solved the issue by manually creating the directory and cloning the repo. Then it complained about a personal directory, which I created and now it's working. Would be nice for new users if this worked.

According to https://github.blog/2021-09-01-improving-git-protocol-security-github/, https is unaffected and in `cheat/internal/installer/clone.go` I see `const cloneURL = "h

[2022-03-19 13:49] Lonenso opened #658 "Add source field to each cheatpath to describe cheatsheet's source"
**Is your feature request related to a problem? Please describe.**
I was trying to sync cheatsheets between devices, so I put my `conf.yml` to my `dotfiles`. Suddenly, I realized that I still have to sync the community's cheatsheets manually(clone it) because the config only describes cheatsheets' locations.

**Describe the solution you'd like**
Add `source` field to each cheatpath like below, the

[2022-03-20 04:05] Lonenso commented on #603
there's a Makefile in the codebase, so just run `make` until everything works. For me, I missed `pandoc`, `revive`.

Do not forget to install `go`.

[2022-03-20 04:22] Lonenso commented on #584
I think this is embrassing, this error is because "config" presents but cheatpath doesn't exist.
moreover, like @Zikoel said, if user creates the community cheatsheets directory, it remains empty.

I am not sure if is it good to have a builtin cheatsheets' source management, see this https://github.com/cheat/cheat/issues/658

[2022-03-30 13:33] cambo32 opened #662 "Please help i tried many game hacks but they dont work what should i do"
first one
![VS](https://user-images.githubusercontent.com/102672909/160846604-95d83b7a-9dab-44f3-8524-287a1b1aba70.png)
![VS2](https://user-images.githubusercontent.com/102672909/160846608-22a9ca09-4945-424a-a5d2-ee6a41b6c14f.png)
second one
![VS3](https://user-images.githubusercontent.com/102672909/160846652-540eb334-3c14-4640-b9a3-5379316a12cf.png)
![VS4](https://user-images.githubusercontent.co

[2022-03-30 17:58] exploide opened #663 "Leading whitespace stripped in first line of cheatsheet"
**A description of the problem**
If a cheatsheet contains leading whitespace in the first line, it gets stripped. For example the following content

[code]

becomes this when shown by `cheat`

[code]

This messes up the formatting. So I consider this a subtle bug.

**cheat version info**
4.2.2

**cheat configuration info**

[code]

[2022-04-01 19:30] cboecking opened #664 "first run - unauthenticated git protocol on port 9418 is not longer supported"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**
installed using:
sudo snap install cheat

Installed cheat on a new 20.04 system via snap. Ran 'cheat tar'. System responded with no config - create one now? I said yes. Below is what happened:

~$ cheat tar
A config file was not found. Would you like to create one now? [Y/n]:
Would you l

[2022-04-15 20:04] chrisallenlane commented on #662
You have the wrong repository, so I'm going to close this ticket.

[2022-04-15 20:04] #662 closed

[2022-04-16 17:26] bernermic commented on #664
Hi @cboecking  thanks for your report. I had a look into it and fixed the issue with the snap's git config.

Can you check this pls.?

[2022-05-17 18:30] clach04 commented on #655
Appears to duplicate #571

[2022-05-17 18:37] clach04 opened #665 "Microsoft Windows default config file not usable"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**

New install of cheat exe https://github.com/cheat/cheat/releases/tag/4.2.3 requires a config, the default one created is not usable.

Bad/incorrect defaults for:

  * editor - vim can't be assumed available. Recommend "notepad", a terrible editor but will be available and advanced user

[2022-05-17 18:50] clach04 commented on #665
Just reviewed the code, looks like https://github.com/cheat/cheat/blob/12ffa4cb5c874207df89018f14054f495a6757b1/cmd/cheat/cmd_init.go#L44 maybe where the path is set incorrectly without the correct leading path. Sadly I'm not familiar with the code to make a PR.

[2022-06-03 17:36] YueRen commented on #589
Apologies if this is not the right place to ask, but how do I correctly set the editor in `conf.yml`? I'm on Ubuntu and just installed cheat using snap.

- If I set `editor: vi`, I get the following error when running `cheat -e cheat`:

  (I have read+write rights to `~/snap/cheat/common/.config/cheat/cheatsheets` and its subfolders; upon running the command a file `personal/cheat` is created to w

[2022-06-04 01:00] bbrendon commented on #584
I just tried this program again and it didn't fail.

[2022-06-04 01:00] #584 closed

[2022-06-08 05:29] pablomalo opened #666 "In README, update go installation command"
I am a total n00b at Go, but I thought I'd use that installation method as I assumed it would make it easier to upgrade.

I installed the latest version of Go (1.18.3) and ran the command provided by the README. Output:
[code]

Turns out I need to run `go install github.com/cheat/cheat/cmd/cheat@latest`.

Maybe the documentation should reflect that?

[2022-06-08 05:44] #666 closed

[2022-06-08 05:57] pablomalo commented on #649
Related: #666

[2022-06-09 14:55] amol23 opened #668 "cheat commands for sar"
Hello All,
Thank you for making this nice project. I was exploring cheats for various popular Linux commands  & found that
cheat commands for 'sar' can be a good addition to this project.

[2022-06-11 23:04] ninsy commented on #649
Same problem occurred here, when I had tried to use
[code]
with golang version `go1.13.8 linux/amd64`, until then I run

[code]
with version `go1.18 linux/amd64`, installation succeded. Just my 3 cents - I can recommend installing [goenv](https://github.com/syndbg/goenv) to swap between golang versions. :)

[2022-06-12 18:54] bernermic commented on #657
@jazzabeanie  bug is fixed. Please retry. I'll close this now. Feel free to open it again if you have still questions.

[2022-06-12 18:55] bernermic commented on #657
@chrisallenlane can you pls. close this one?

[2022-06-12 18:56] bernermic commented on #664
@chrisallenlane  can you close this one?

[2022-06-13 01:17] cboecking commented on #664
Closed and thank you!

[2022-06-13 01:17] #664 closed

[2022-06-14 19:12] ANJ-Projects opened #670 "REQUEST: Easier install"
Would like a easier way to install. For something supposed to help people with Linux, this just makes things more complicated. Have installed a ton of software on Linux, And I have no idea if setting a path will break something else. The version of linux I use show useful information at sign on

There is no way I can recommend this to friends etc, the webpage yes, but not installing this.
This has

[2022-06-14 19:48] ANJ-Projects commented on #670
Update: Snap had a easy install, maybe this should be recommended for beginners?
[https://snapcraft.io/install/cheat/raspbian#install](https://snapcraft.io/install/cheat/raspbian#install)

Also for the recommendation curl cheat.sh/[Command] seems best. But can understand that this is not written here because another group work on that.

[2022-06-14 20:32] #670 closed

[2022-06-16 08:14] rluvaton opened #671 "Add the silver searcher"
Hello All,
great project!. could we please add cheat commands for `ag` ([the silver searcher](https://github.com/ggreer/the_silver_searcher))

[2022-06-17 09:04] chrisallenlane commented on #668
Closing as resolved.

[2022-06-17 09:04] #668 closed

[2022-06-24 13:58] matt-bc opened #672 "display cheats of a command on Windows"
Hi,

First thank you for your amazing project.
I don't think this topic has been covered yet, if so, excuse me.

Im on windows, i install cheat and it's works very well, i also install vim to edit some existing cheat.
my problem is just when i am looking for information about the tar command for exemple with: cheat tar

He print to me the result in my shell (powershell or cmd) with so many bad cha

[2022-06-26 21:20] ecogit commented on #608
This Linode guide explains it step-by-step: [Installing and Using the cheat Command on Linux](https://www.linode.com/docs/guides/linux-cheat-command/).

Installation in a nutshell:
[code]
- - -
To configure cheatsheets:
[code]

[2022-07-04 15:41] chrisallenlane commented on #671
I've stubbed out a basic `ag` cheatsheet. Closing as resolved.

[2022-07-04 15:41] #671 closed

[2022-07-04 15:44] chrisallenlane commented on #672
Thanks for reporting this. I'm about to do some work to improve Windows support, so I'll take a look.

[2022-07-04 15:49] chrisallenlane commented on #665
Thanks for reporting all of this. I'm about to begin a round of improvements and fixes for Windows.

[2022-07-04 15:52] chrisallenlane commented on #663
Oh, hmm...

I had intended to strip leading newlines, but I hadn't considered this case. I'll take a look at what we can do here.

Thanks for reporting this.

[2022-07-04 15:54] chrisallenlane commented on #664
Thanks, guys.

[2022-07-04 20:14] chrisallenlane commented on #655
@ondrasek, thanks for reporting this. I'm going to close this and track this issue along with other Windows-only issues in #665, but I can confirm this behavior.

I believe I have a fix for this working locally. It should ship with the next version of `cheat`, hopefully later today.

[2022-07-04 20:14] #655 closed

[2022-07-04 21:17] chrisallenlane commented on #665
@clach04, thanks again for the detailed and thorough bug report.

Confession: I've been relying on the community for Windows support until now, and had never actually run `cheat` on a Windows environment before personally. I finally purchased a cheap Windows laptop just to test `cheat`, and Windows support was indeed quite a mess.

That said, I believe I have all of this sorted. Please try the [4.

[2022-07-04 21:17] #665 closed

[2022-07-04 21:21] chrisallenlane commented on #672
Hi, @matt-bc

I published the [4.2.4][] release of `cheat` a few moments ago, which changes some default configuration values (and executable behaviors) to dramatically improve Windows support.

With that said, please do the following:

1. Upgrade to `4.2.4`
2. Within your config file:
  2a. Set `pager` to `more`
  2b. Set `formatter` to `terminal`
  2c. Comment out `style`

I believe that should

[2022-07-04 21:21] #672 closed

[2022-07-04 21:27] chrisallenlane commented on #571
I just published `cheat` [4.2.4][], which greatly improves Windows support. Please upgrade to that version and try again.

I'll optimistically close this ticket as resolved now, but feel free to re-open it if upgrading doesn't solve your problem.

Thanks.

[4.2.4]: https://github.com/cheat/cheat/releases/tag/4.2.4

[2022-07-04 21:27] #571 closed

[2022-07-04 21:28] chrisallenlane commented on #335
This was a good idea, but I'm not confident that I can do this in a cross-platform way without causing more problems, so I'm going to close this ticket. Sorry I'm not able to get this implemented.

[2022-07-04 21:28] #335 closed

[2022-07-05 07:35] Mic92 opened #675 "latest github release archive broken"
This is more a bug in github rather than cheat but currently I cannot download the latest source code:

[code]

A dirty fix might be another release?

[2022-07-05 11:00] chrisallenlane commented on #675
Hi, @Mic92

Are you just trying to download the newest executable, or is "archive" a feature of Github that I don't know about?

If you're just trying to pull down the newest executable, the links on the [release page][1] appear to work fine. Example:

[code]

[1]: https://github.com/cheat/cheat/releases/tag/4.2.5

[2022-07-05 11:09] chrisallenlane commented on #675
Oh, I think I see what you're looking for. I think you just have the wrong URL.

You have:
https://github.com/cheat/cheat/archive/4.2.5.tar.gz

I think you want:
https://github.com/cheat/cheat/archive/refs/tags/4.2.5.tar.gz

Does that seem right?

[2022-07-05 11:50] chrisallenlane commented on #649
Sorry it has taken me so long to address this. I have been quite busy.

I believe what we're seeing here is simply a change in the behavior of the `go` executable itself:
https://go.dev/doc/go-get-install-deprecation

`cheat` itself is built with Go 1.18, and I want to do things the correct, forward-looking way, so let's consider `go install` to be the appropriate tool for installing `cheat` (usin

[2022-07-05 11:50] #649 closed

[2022-07-05 12:03] chrisallenlane commented on #652
I'm sorry, but I'm going to have to ask some dumb questions here, because I haven't kept up with the Go ecosystem as closely as I should have:

1. What are the "Go indexing servers?" (Googling this has not proved fruitful).
2. @jeffwidman, what version of Go are you running? I ask because `go mod tidy` is a regular part of my workflow, and it at least _appears_ to work fine.

I've been surprised t

[2022-07-05 13:14] #675 closed

[2022-07-05 14:23] chrisallenlane commented on #675
Ah, understood. Yes, please do.

As an aside, thanks very much for your work maintaining the nixpkgs. Would you mind posting the link to the nix package here? I'm actually re-writing the "installing" documentation at this very moment, and I'd like to link to it.

[2022-07-05 15:00] chrisallenlane commented on #675
I'll assume that it's this one unless told otherwise :slightly_smiling_face:
https://pkgs.on-nix.com/nixpkgs/cheat/

[2022-07-05 15:40] chrisallenlane commented on #608
@RidenShark, thanks for the issue report, and I'm sorry it has taken me so long to reply.

If you're still interested in this, this morning I created an `INSTALLING.md` file that contains more detailed instructions. I hope you find it helpful:

https://github.com/cheat/cheat/blob/master/INSTALLING.md

I'm going to close this ticket, but feel free to re-open it if necessary.

Thanks.

[2022-07-05 15:42] #608 closed

[2022-07-05 15:50] chrisallenlane opened #677 "WANTED: community package maintainers"
I added an `INSTALLING.md` file that provides instructions for installing `cheat`:
https://github.com/cheat/cheat/blob/master/INSTALLING.md

That file mentions several [community-maintained packages for various package managers][packages].

If you are maintaining a community package (or know someone who is), please either tell me about it, or (better) open a PR that adds it to the table above.

No

[2022-07-05 16:00] yurivict commented on #652
Google has servers that list all Golang packages such that this script can list them:
[code]

Golang requires that module name should be ```github.com/{acct}/{project}/v{major-version}``` in order to be listed.

[2022-07-05 16:35] chrisallenlane commented on #611
I'm going to close this issue and track this work along with #594. The functionality _works_ - it's just poorly documented.

[2022-07-05 17:23] chrisallenlane commented on #593
Sorry it has taken me so long to respond.

It's hard to know what went wrong here (`---` is a valid first-line for YAML files), but it's possible there was some issue with that line and front-matter parsing or something.

Given that this ticket pertains to such an old version of `cheat`, I'll assume I can safely close it.

[2022-07-05 17:23] #593 closed

[2022-07-05 17:32] chrisallenlane commented on #552
Bit of a note-to-self here:

I'm re-writing all of the project documentation write now. I have temporarily removed @bernermic update script information from the `README`, and will add it to the Wiki with improved documentation.

[2022-07-05 17:36] #638 closed

[2022-07-05 19:13] chrisallenlane commented on #603
Hi, @kapad

I'm sorry it has taken me so long to get to this.

I've added a `HACKING.md` file to the project, which gives a brief introduction to developing `cheat`:
https://github.com/cheat/cheat/blob/master/HACKING.md

Please let me know if you'd like to see any other information contained therein.

Closing as resolved for now.

[2022-07-05 19:13] #603 closed

[2022-07-06 10:11] Mic92 commented on #675
This is the official search result:  https://search.nixos.org/packages?channel=unstable&show=cheat&from=0&size=50&sort=relevance&type=packages&query=cheat

[2022-07-13 09:56] kapad commented on #603
Hi @chrisallenlane . Thank you for the response and the hacking guide. :)

[2022-07-17 19:32] chongchonghe commented on #611
I wrote my own fuzzy search script and it works just fine. Here's the link:
https://gist.github.com/chongchonghe/8ed7774d8ac96e26abb0f98ce6197e70

[2022-07-17 19:33] chongchonghe commented on #611
<script src="https://gist.github.com/chongchonghe/8ed7774d8ac96e26abb0f98ce6197e70.js"></script>

[2022-07-22 16:43] vaporup opened #681 "Listing cheats forces pager on latest Debian/Ubuntu"
Hi,

I have the following issue with Ubuntu 22.04 and Debian 11.
(Haven't tried later Distro versions)

Listing the cheats forces a paging which can't be scrolled or finished.
No keystroke works. Only quitting the program.

[code]

[code]

On older versions it just works fine. No paging appears

[code]

I am not sure what the cause is.
This is what I tested with current (4.2.5) cheat release:

# D

[2022-07-24 13:00] chrisallenlane commented on #681
Hi, @vaporup

Thanks for reporting this. A friend reported something similar a few days ago.

Question: how did you install `cheat` initially? I'm unclear if the issue is with the executable itself, or perhaps with one of the packages.

Regarding solving your problem:

This is probably happening in the newest version of `cheat` because I changed the default pager from `less` to `more` in order to

[2022-07-24 20:02] vaporup commented on #681
I just downloaded the linux binary. Changing pager via environment didn't work but changing it in the config did. Thanks for the workarournd

[2022-07-24 20:12] chrisallenlane commented on #681
OK, great. Thanks for the info. I'll take a look at that this week.

[2022-07-25 12:42] Kreyren opened #682 "New cmd implementation in minimal POSIX sh?"
[code]

Wrote this, do you want to make it into a git repository in this org? I usually use it to get `tldr` on systems which don't have the main thing packaged e.g. GNU Guix

CC @chrisallenlane

[2022-08-01 23:35] chrisallenlane commented on #681
@vaporup, I'm having a hard time reproducing this. Do you know if the `more` pager was installed on the box that initially had the problem? What's your output of `which more`? Thanks.

[2022-08-01 23:36] chrisallenlane commented on #681
I'm pinning this one and tagging it has `help-wanted` because I'd like others' eyes on it as well.

[2022-08-02 11:37] dotcs commented on #677
There are two packages maintained for Arch Linux in the Arch User Repository (AUR). Both seem to be well maintained and probably be worth to be added to the list.

- [cheat](https://aur.archlinux.org/packages/cheat): Builds executables from source
- [cheat-bin](https://aur.archlinux.org/packages/cheat-bin): Pulls executables directly from GitHub Packages

[2022-08-03 00:37] #681 closed

[2022-08-03 00:48] chrisallenlane commented on #681
Well, I simply can't make `more` behave the way I'd hope/expect on Linux systems. I don't know if I'm doing something wrong, or if  there's a bug in `more`, or what.

With that said, the `4.2.6` release works around this problem:
https://github.com/cheat/cheat/releases/tag/4.2.6

I'm simply burying `more` here when looking for pagers on Linux systems, and I'm no longer  setting it as the default p

[2022-08-05 08:41] vaporup opened #687 "Colorized output and search shows ANSI Escape Sequences"
[code]

[code]

[code]

[code]

Downloaded latest Github Release (4.2.6) and tried it on a Ubuntu 22.04 system

[2022-08-05 09:44] chrisallenlane commented on #687
I noticed this as well last night.

What pager are you using? I noticed that if I'm using `less` it works fine. Otherwise, I get an error if I have no pager configured. Is that what you're seeing as well?

Thanks for your help once more :slightly_smiling_face:

[2022-08-05 10:25] chrisallenlane commented on #687
This is being caused by the code that underlines the cheatsheet titles.

Now that I'm looking at this with fresh eyes, I don't like the underlining anyway. It adds too much visual noise to the results. I'm just going to rip it out.

[2022-08-05 11:06] chrisallenlane commented on #687
@vaporup, this should be resolved in the `4.2.7` release:

https://github.com/cheat/cheat/releases/tag/4.2.7

Please let me know if that works for you. Thanks.

[2022-08-05 11:08] chrisallenlane commented on #687
Oh, and one note about this one:

[code]

`-c` is short for `--colorize`, so it's _always_ going to produce colorized output no matter what. That first example thus is expected behavior.

The `cheat -s ls` example _was_ a bug, however, and should now be resolved with the newest release.

[2022-08-05 11:10] chrisallenlane commented on #607
This should be resolved as of the `4.2.7` release:

https://github.com/cheat/cheat/releases/tag/4.2.7

Please let me know if this does/doesn't solve the problem for you, and feel free to re-open this ticket if necessary. Thanks.

[2022-08-05 11:10] #607 closed

[2022-08-05 15:58] vaporup commented on #687
Well,
I still get ANSI sequences with ```-c```

[2022-08-05 16:02] chrisallenlane commented on #687
@vaporup, oh, I see. I (partially) misunderstood the nature of the problem.

Yeah, it looks like if I disable the pager, I also get ANSI codes without colors. I'll take a second look at this. Thanks.

[2022-08-07 18:15] mikemcduffie opened #690 "Version 4.2.7 broke personal cheatsheets in custom location"
Thanks for submitting a bug report. Please provide the following information:

**A description of the problem**
I store my personal cheatsheets in a synced folder (/Users/mike/Resilio Sync/App Support/cheat/cheatsheets/personal) as configured in conf.yml. This has worked fine until version 4.2.7. Since upgrading my configuration no longer works:
- cheat -l                       : no output
- cheat

[2022-08-07 18:57] chrisallenlane commented on #687
@vaporup, please try `4.3.0` and see if that solves the problem for you:

https://github.com/cheat/cheat/releases/tag/4.3.0

Note that `cheat` handles pagers somewhat differently now. It _only_ reads pager configs from the config file, and no longer searches for pagers during runtime.

I don't think you were using a pager anyway (and you were thus able to identify this problem), but if you were, y

[2022-08-07 19:05] chrisallenlane commented on #690
Hi, @mikemcduffie

I can't immediately reproduce this one. How did you install `cheat`?

Also, for the hell of it, please try the `4.3.0` release, which was published moments ago:
https://github.com/cheat/cheat/releases/tag/4.3.0

Thanks

[2022-08-07 19:19] chrisallenlane commented on #677
@dotcs, thanks for these.

I'm not an Arch user. Am I correct that these are the respective commands for installing these packages?

[code]

This is, at least, what the `cheat` community cheatsheets are telling me. lol.

I ask because I've been including this information as well within `INSTALLING.md`. (Perhaps I should not.)

[2022-08-08 03:16] mikemcduffie commented on #690
Unfortunately 4.30 fails as well for me in exactly the same way.

I installed via homebrew:
`brew install cheat`

upgrades are via brew as well:
`brew upgrade cheat`

macOS 12.4 Monterey on a M1 processor.: `zsh 5.9 (arm-apple-darwin21.3.0)`
Nothing special in my setup that I can think of (except the location of my personal cheatsheets). Putting a copy of the personal folder in the original locati

[2022-08-08 03:24] MC1R-13 commented on #690
I had the same issue. Installed via brew on macOS 12.5.
I'm guessing it's related to ignoring hidden directories from https://github.com/cheat/cheat/pull/688/commits/484b44739153495d5cb748c1c17b27234edbd052

Assuming that means all hidden directories, including .config, where Brew saves seemingly everything.

[2022-08-08 04:08] mikemcduffie commented on #690
Makes sense to me. Explains why community cheatsheets are not found as well (no `-s` or `-l` results at all). I had assumed the `.config` location was a cheat default rather than a brew default location.

[2022-08-08 06:04] dotcs commented on #677
Installing packages from AUR is explained [here](https://wiki.archlinux.org/title/Arch_User_Repository#Installing_and_upgrading_packages). AUR packages are non-official community maintained packages, so the installation is unfortunately not as simple as `pacman -S <name>`. That said, [there is a wrapper around the standard package manager `pacman` available](https://github.com/Jguer/yay) that make

[2022-08-08 09:38] vaporup commented on #687
The Escape sequences are gone but I don't get colored output using ```-c```

[2022-08-08 11:02] chrisallenlane commented on #687
@vaporup, please paste the contents of your `cheat` config file in this thread so I can take a look. Thanks.

[2022-08-08 11:13] chrisallenlane commented on #690
Hi, guys

Ah, of course. That makes sense.

Yeah, the intention behind that commit was primarily to prevent `cheat` from attempting to search `.git` for cheatsheets, because that can make hundreds/thousands of syscalls, and possibly slow down the application on machines with slow disks.

But yeah - I hadn't considered that folks might be saving cheatsheets into hidden directories. This was a stupi

[2022-08-08 15:58] vaporup commented on #687
I always delete ~/.config/cheat when testing a new release, so it is the default config which is created on first run

[2022-08-09 01:09] chrisallenlane commented on #690
I believe I have this resolved with the `4.3.1` release:
https://github.com/cheat/cheat/releases/tag/4.3.1

I'm going to optimistically close this ticket as resolved, but please let me know if this does or doesn't work for you.

Thanks!

[2022-08-09 01:09] #690 closed

[2022-08-09 09:58] vaporup commented on #687
Looks good now :-)

[2022-08-09 22:19] MC1R-13 commented on #690
It's working now. Thanks.

[2022-08-10 00:04] chrisallenlane commented on #690
Perfect. Glad to hear. Thanks for letting me know :+1:

[2022-08-10 21:22] mikemcduffie commented on #690
4.3.1 works here. Thanks

[2022-08-11 01:40] chrisallenlane commented on #690
Excellent. Thanks :slightly_smiling_face:

[2022-08-17 22:19] jcgutier commented on #632
I have the same problem with autocomplete. We would appreciate a fix. Thanks for this work!!

[2022-08-19 04:45] lucascosti opened #694 "Git submodules as cheatsheet paths don't work any more"
**A description of the problem**

Carries on from the problem reported and fixed in https://github.com/cheat/cheat/issues/690

Mine might be more of an uncommon edge case, so I totally understand if you decide it's unsupported. 🙂

* I have all [my shell config in a repo](https://github.com/lucascosti/mac-config/tree/main/zsh), with various external [scripts and tools as git submodules in that repo

[2022-08-19 04:47] lucascosti commented on #690
👋 I think the fix for this broke using a git submodule as a cheatsheet location; I've opened a new issue here: https://github.com/cheat/cheat/issues/694 🙇‍♂️

[2022-08-26 09:51] chrisallenlane commented on #694
@lucascosti, thanks for the thorough and detailed bug report :slightly_smiling_face:

This is not a use-case that I had considered, but it seems reasonable enough to me. I'd like to support it if possible.

Let me hack on this a bit. Presumably with a bit more sophistication in place of the current`strings.Contains(path, "git")` check, we should be able to support this.

[2022-08-26 10:04] KingJulianS commented on #594
@ipstone have you found out how it works already ?
if so, can you please share the steps with me as well pls sir.
I am a complete newb at this and don't even know what is meant by “right directory” ..

This is the best I could do for now on my side :
cheat -l | awk '{print $1}' | fzf | xargs -I{} cheat {}

[2022-08-26 12:18] chrisallenlane commented on #694
@lucascosti, I think I've worked this out. If you have the time, would you mind testing the fix on my personal fork here on your machine?

https://github.com/cheat/cheat/pull/697

If you don't have time, don't sweat it. I will otherwise optimistically assume that this will resolve the problem, and will cut a new release this weekend :slightly_smiling_face:

[2022-08-26 12:20] chrisallenlane commented on #694
@lucascosti, for your testing convenience, I'm attaching a Darwin executable here so don't have to bother with the build process:

[cheat-darwin-amd64.gz](https://github.com/cheat/cheat/files/9433092/cheat-darwin-amd64.gz)

[2022-08-26 18:10] chrisallenlane commented on #694
@lucascosti, scratch that. I got on a roll this morning, and just decided to publish a new release, changes included. I suspect that this will fix the issue, but please do let me know either way:

https://github.com/cheat/cheat/releases/tag/4.3.2

In the meantime, I'll optimistically close this as resolved, but feel free to re-open it if this fix doesn't work.

Thanks.

[2022-08-26 18:10] #694 closed

[2022-08-26 18:11] chrisallenlane commented on #656
Thanks for reporting this, @EmilySeville7cfg. There was in fact important information missing here.

I've improved the configuration documentation in the `4.3.2` release:
https://github.com/cheat/cheat/releases/tag/4.3.2

I'm thus going to close this as resolved.

[2022-08-26 18:11] #656 closed

[2022-08-26 18:13] chrisallenlane commented on #663
@exploide, thanks for reporting this.

Having thought about this for a while, I've decided to simply stop stripping whitespace on cheatsheet output. There's really on reason why I should be making formatting decisions on the user's behalf, and if a cheatsheet contains a whitespacing error, `cheat -e` is right there to fix it.

Please upgrade to `4.3.2`:
https://github.com/cheat/cheat/releases/tag/

[2022-08-26 18:13] #663 closed

[2022-08-26 18:15] chrisallenlane commented on #677
@dotcs, thanks for the information. I've included the packages you listed here in the documentation for the `4.3.2` release:

https://github.com/cheat/cheat/releases/tag/4.3.2

I've also simplified the installation instructions, per your suggestion.

Thanks!

[2022-08-26 18:15] chrisallenlane commented on #677
I shouldn't have closed this. I'm re-opening this because there are surely more packages out there that should be documented.

[2022-08-26 18:36] chrisallenlane commented on #552
The more I think about this, the more essential I realize this is.

I also think I was too timid previously. It's probably not all that hard to:

1. Iterate over every `cheatpath`
2. iff the `cheatpath` is a `git` repository
3. ensure that the repo is not "dirty"
4. `git pull`

If the branch _is_ dirty, I can just fail out with an error message telling the user to clean it up. As long as I don't a

[2022-08-27 08:26] lucascosti commented on #694
@chrisallenlane Thanks so much for the change! 🙇‍♂️ I can confirm that 4.3.2 resolves the issue and `cheat` now works with my community cheatsheets submodule. 🎉

[2022-08-27 11:31] chrisallenlane commented on #694
@lucascosti, excellent! Thanks for the confirmation, and again for such a helpful bug report :+1:

[2022-08-27 19:17] sevens opened #699 "`cheat -l` gives error if cheatpath dir contains `.gitignore` (but no `.git/`)"
**A description of the problem**

When a cheatpath dir contains a `.gitignore` file (but no `.git/` dir), `cheat -l` shows an error like `failed to list cheatsheets: failed to load cheatsheets: failed to identify .git directory: failed to stat path cheatsheets/.gitignore: stat cheatsheets/.git: no such file or directory`

**cheat version info**
4.3.2 (4.0.0 works fine, didn't test intermediate ver

[2022-08-27 21:02] chrisallenlane commented on #699
Ah, damn. I can confirm this behavior. As you've pointed out, this is surely due to some of the changes implemented on Friday.

Thanks for the very thorough bug report. I'll see if I can scrape together some time to fix this tomorrow.

[2022-08-27 21:06] chrisallenlane commented on #699
Note to self: it's obvious now that attempting to base this logic off of string parsing is the path to ruin. I need to re-implement all of this using `go-git`.

[2022-08-27 22:39] sevens commented on #699
FYI: might want to add `.gitmodules` as well ;)  (from [git submodules](https://www.git-scm.com/docs/gitsubmodules))

[2022-08-28 02:14] chrisallenlane commented on #699
@sevens, please try the `4.3.3` release, which was published moments ago:
https://github.com/cheat/cheat/releases/tag/4.3.3

I believe this should solve the problem.

I'm going to optimistically close this ticket as resolved, but feel free to re-open if necessary.

Thanks!

[2022-08-28 02:14] #699 closed

[2022-08-28 16:01] sevens commented on #699
Thanks for the quick fix!  I've tested it on 2 machines and the fix works for me.

FWIW: I just realized that `.git` can also be a plain file in case of a worktree checkout, just to keep things simple I gues...  I just did a quick test with this, using the community cheatsheets repository, and this doesn't give an error.  However, `.git` (and `.github/*`) do appear in the `cheat -l` output, no ide

[2022-08-29 10:12] chrisallenlane commented on #699
@sevens, thanks for following up.

Ah, geez. That's annoying. This has been shockingly hard to get right. There's a huge amount of nuance to all of this that I didn't anticipate.

At least we aren't crashing anymore, though.

With the last release, I made an invisible but important change: when the installer runs, `git` operations (the cloning) are now performed by `go-git`, rather than a shell ca

[2022-08-29 16:07] sevens commented on #699
Yeah, using a library is probably much safer (and future-proof, e.g. the whole worktree stuff is fairly new AFAIK, and still somewhat experimental).  Good luck with refactoring.

You're welcome, and thanks for making `cheat` in the first place; I find it very useful and use it daily!

[2022-09-15 06:06] bytemain commented on #632
the `state` variable is generated by the `_arguments` methods, you can see the [The option -C tells _arguments to modify the curcontext parameter for an action of the form ‘->state’.](https://zsh.sourceforge.io/Doc/Release/Completion-System.html)

in this commit:https://github.com/cheat/cheat/commit/018bce7ad550fa1de8b131500c7e1d360a32b0e8#

someone remove the last line:
![CleanShot 2022-09-15 at

[2022-10-08 09:39] ghost opened #705 "Autocompletion Not working"
system: Kali linux 2022.3
shell: zsh ( i use oh-my-zsh Manage zsh）

```curl https://raw.githubusercontent.com/cheat/cheat/master/scripts/cheat.zsh --output cheat.zsh```
and
edit ``` .zshrc ```
add ``` source /home/username/.oh-my-zsh/custom/plugins/cheat/cheat.zsh ```
``` source ~/.zshrc ```
end

when i open new shell again
error message:
```/home/username/.oh-my-zsh/custom/plugins/cheat/cheat.zsh

[2022-10-11 09:21] cboecking commented on #664
Hi Micheal,

Confirmed fixed. Here is how I confirmed:

   - could not re-run 'cheat config' due to previous bad state.
   - sudo snap remove cheat
   - sudo snap install cheat
   - cheat tar (said yes to config and download - all worked as expected)
   - cheat tar (all worked as expected)

Thank you for your time and effort regarding this project!

Regards,

Chuck Boecking
512.850.6068 (office an

[2022-10-19 14:41] astrorigin commented on #705
To load the missing command, you need this in your `.zshrc`:
[code]

[2022-11-06 21:06] apenngrace opened #708 "frontmatter error"
Thanks for submitting a bug report. Please provide the following information:

[code]

**cheat version info**
4.4.0

**cheat configuration info**
If your bug pertains to how cheatsheets are loaded and/or displayed, please
paste here the following information:

1.
[code]
2. The contents of your `conf.yml` file
---
[code]

[2022-11-07 19:50] steveshi commented on #708
+1

[2022-11-08 18:19] Dracos5732 commented on #708
+1

[2022-11-10 08:58] tartofour commented on #708
+1

[2022-11-10 18:47] apenngrace commented on #708
It looks some somebody already submitted [this pull request](https://github.com/cheat/cheat/pull/701) to fix this back in September.

[2022-11-11 07:23] PuntoDiGoccia commented on #708
Thanks, did'n notice that - solved the issue for me
Error message quite cryptic tough

[2022-11-11 15:18] apenngrace commented on #708
I'm kind of hoping that the PR gets merged in, and then somebody update homebrew.  I installed this using `brew`, and I still haven't figured out how to roll back to a previous version.

[2022-11-11 23:37] Dracos5732 commented on #708
@apenngrace I'm in the same boat. I updated my homebrew and it is giving me the error above. Would be nice to have this merged sooner than later.

[2022-11-12 15:00] chrisallenlane commented on #708
Maintainer here. Just seeing this.

I'm on the road today, but will try to get a fix out tomorrow. Sorry for the headache.

[2022-11-15 00:18] chrisallenlane commented on #708
For context for others arriving here. Presume an error message that looks like this:

[code]

What this means is that your cheatsheet's "front-matter" - the metadata associated with a cheatsheet deliminted by `---` - is malformed somehow. Fixing that will resolve the problem.

At some point in the past, malformed cheatsheets were committed to the community cheatsheets, though a community member op

[2022-11-15 00:24] chrisallenlane commented on #708
To add more context: this isn't, strictly speaking, a bug in `cheat`. Rather, `cheat` is aborting when it encounters malformed data, which was the intended behavior.

With that said, perhaps that intended behavior was stupid :thinking:

I'm trying to sort out the best way to handle this. I don't want to suppress or bury the error message, but I see how it's arguably a poor design decision that `ch

[2022-11-15 01:15] apenngrace commented on #708
I was not getting this error in 4.3.3.

[2022-11-15 02:18] chrisallenlane commented on #708
@apenngrace, so the issue is that `4.4.0` upgraded to a new YAML parser. The new one explicitly throws errors where the old one would silently ignore them.

The root cause of the problem - the corrupted cheatsheets - would have been there for some time. In `4.3.3`, you likely wouldn't have noticed the problem _unless you tried to use the affected sheets_, but the bad data was still there.

As best

[2022-11-15 04:33] apenngrace commented on #708
I didn't realize until now that I needed to periodically do a `git pull` on the community sheets.  Anyways, if that was only issue, I'd suggest handling this by just catching the error and then maybe outputting an explanation (because the yaml parser error is cryptic).

I'm respectfully suggesting that this error should not be "intended behavior" as is.  Right now it seems like a bug.  It would se

[2022-11-15 04:35] apenngrace commented on #708
A snippet showing the error persists, even when a colon is present:

[code]

[2022-11-15 12:15] chrisallenlane commented on #708
You do, for now. I recognize that this is a poor user-experience. I have a personal fork of `cheat` on my local machine that implements a `cheat --update` command that does this automatically, but I haven't had time to finish that work yet.

The only problem with this approach is that some cheatsheets would likely be "invisible" to `cheat` if they were parsed incorrectly. (`cheat` loads all sheets

[2022-11-15 12:16] chrisallenlane commented on #708
As an aside, all of this does make me wonder if we need a `cheat --validate` command to iterate over and validate every cheatsheet on a user's system :thinking:

[2022-11-15 22:35] chrisallenlane commented on #708
Excellent! Glad to hear you're back online :+1:

I'll still see what I can do to make all of this a little less user-hostile. Presumably many others are having this problem as well.

[2022-11-20 07:38] roachsinai commented on #549
Got below error when upgrade cheat to 4.4.0 from 4.2.5:

[code]

my config is:

[code]

and `'/home/xq/Nutstore Files/.cheat'`  `"/home/xq/Nutstore Files/.cheat"` doesn't works either.

[2022-11-22 00:48] chrisallenlane commented on #549
Hi, @roachsinai. Good to hear from you again.

Sorry about this problem. This isn't actually a regression in `4.4.0`, but it rather corrects some _previously faulty_ behavior that looks like a regression.

In brief, you probably have some YAML errors in your community cheatsheets (and any personal cheatsheets that were cloned from the community cheatsheets) due to some errors that were committed a

[2022-11-22 01:44] chrisallenlane commented on #682
I'll decline to create a repo for it in the org, but it's a clever one-liner :+1:

[2022-11-22 01:44] #682 closed

[2022-11-23 12:52] roachsinai commented on #549
Ah, @chrisallenlane thanks! Sorry for not  replying in time, works well after I removed `---` from .cheat/ssh.

[2022-11-23 12:52] #549 closed

[2022-11-23 13:36] chrisallenlane commented on #549
Great to hear. Thanks!